body {
    font-family: Arial, sans-serif;
    background-color: grey;
}

h1 {
    color: black;
}
.products{
    margin-bottom: 3.5rem;
}
#productForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    input{
        width: 300px;
    }
    button{
        width: 100px;
        border-radius: 3rem;
        padding: .2rem;
    }
}